body {
    margin: 0;
}
.flex-prop{
    display: flex;
    flex-direction: column;
}
.align-justify-center{
    align-items: center;
    justify-content: center;
}
.margin-30{
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.primary-btn, 
.primary-btn-border,
.secondary-btn-border,
.secondary-btn{
    padding: 5px;
}
.button{
    background-color: transparent;
}
