body {
    margin: 0;
}

h3 {
    color: var(--primary-color);
}
h2{
    margin-bottom: 3px;
}
.body-container{
    display: flex ;
    flex-direction: column;
}
.authors {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    padding: 1.875rem;
    border-radius: var(--border-radius);
    flex-wrap: wrap;
    margin-top: 10px;

}

.round-img {
    width: 120px;
    height: 120px;
}

.img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.primary-btn{
    padding: 5px;
}
.secondary-btn-border {
    padding: 5px;
    background-color: transparent;
}

.hero {
    margin-bottom: 20px;
}

.responsive-img {
    height: 450px;
}

.cards-cont {
    display: flex;
    margin: 20px;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    
}
.new-ar{
    margin-bottom: 10px;
    text-decoration: underline;
}
.sm-txt{
    color: var(--font-color);
}
.read-btn{
    padding: 0px;
    margin: 15px 0px 0px 0px;
    background-color: transparent;
}
.complete-card {
    max-width: 40rem;
    background-color: #E1F0C4;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.hori-img, .main-info-cont{
    /* border-radius: var(--border-radius); */
    height: 75%;
    padding: 1.5rem;
}
.complete-card{
    padding-bottom: 0px;
}